<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Dock Slider App Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="box" id="dock">
    <div class="dock-container">
        <a class="card-a" href=""><img src="../../assets/04-Anglo-60-color.png"></a>
        <a class="card-b" href=""><img src="../../assets/05-Anglo-60-gris.png"></a>
        <a class="card-c" href=""><img src="../../assets/08-Latino-60-color.png"></a>
        <a class="card-a" href=""><img src="../../assets/09-Latino-60-gris.png"></a>
        <a class="card-b" href=""><img src="../../assets/12-Anglo-70-color.png"></a>
        <a class="card-c" href=""><img src="../../assets/13-Anglo-70-gris.png"></a>
        <a class="card-a" href=""><img src="../../assets/16-Latino-70-color.png"></a>
        <a class="card-b" href=""><img src="../../assets/17-Latino-70-gris.png"></a>
        <a class="card-c" href=""><img src="../../assets/20-Anglo-80-color.png"></a>
        <a class="card-a" href=""><img src="../../assets/21-Anglo-80-gris.png"></a>
        <a class="card-b" href=""><img src="../../assets/24-Latino-80-color.png"></a>
        <a class="card-c" href=""><img src="../../assets/25-Latino-80-gris.png"></a>
        <a class="card-a" href=""><img src="../../assets/28-Anglo-90-color.png"></a>
        <a class="card-b" href=""><img src="../../assets/29-Anglo-90-gris.png"></a>
        <a class="card-c" href=""><img src="../../assets/32-Latino-90-color.png"></a>
        <a class="card-a" href=""><img src="../../assets/33-Latino-90-gris.png"></a>
        <a class="card-b" href=""><img src="../../assets/36-Anglo-2000-color.png"></a>
        <a class="card-c" href=""><img src="../../assets/37-Anglo-2000-gris.png"></a>
        <a class="card-a" href=""><img src="../../assets/40-Latino-2000-color.png"></a>
        <a class="card-b" href=""><img src="../../assets/41-Latino-2000-gris.png"></a>
    </div>
  </div>
</ion-content>
